<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.global.js"></script>
    <style>
        /* 样式定义 */
        .select-panel {
            position: absolute;
            background-color: white;
            border: 1px solid #ccc;
            padding: 10px;
            width: 100px;
            height: 150px;
            z-index: 1;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>Vue 3.0 组件通信</h1>
      
        <div>
            <!-- 选择器组件 -->
            <selecter @go="update"></selecter>
            <!-- 上警组件 -->
            <shangjing @shangjing="updatesj"></shangjing>
            <p>踩：{{ num }}，上警：{{shangjing}}</p>
        </div>
    </div>
    <script>
            // 定义 Player 类
        class Player {
            constructor(rank) {
                this.rank = rank;
                this.shangjing = false;
                this.cai = [];
                this.zhan = [];
                this.shenfen = [];
            }
        }

        // 创建 Vue 应用实例
        const app = Vue.createApp({
            template: `  <table border="1">
            <thead>
                <tr>
                    <th>身份</th>
                    <th>站</th>
                    <th>踩</th>
                    <th>警</th>
                    <th>号</th>
                    <th>号</th>
                    <th>警</th>
                    <th>踩</th>
                    <th>站</th>
                    <th>身份</th>
                </tr>
            </thead>
            <tbody>
                    <player v-for="i in 6" :position="i" @playerData="newPlayer"> </player>
            </tbody>
        </table>`,
                
            data() {
                return {
                    num: [], // 存储选中的数字数组
                    shangjing: false, // 上警状态
                    player: [] // 存储玩家数据
                }
            },
            methods: {
                // 更新数字数组的方法
                update(f) {
                    this.num = f
                },
                // 更新上警状态的方法
                updatesj(f) {
                    this.shangjing = f
                },
                // 新增玩家数据的方法
                newPlayer(p) {
                    if (this.player.length > 5) {
                        this.player[p.rank - 1] = p
                    }
                    else {
                        this.player.push(p)
                    }
                    console.log(this.player)
                },
                update() {

                }
            },
        });

            // 定义选择器组件
            app.component('selecter', {
                emits: ['go'],
            template: `
                <div>
                    <button @click="dis=true">+</button>
                    <div v-if="dis" class="select-panel">
                        <div class="number-grid">
                            <div v-for="i in 4" :key="i">
                                <button :disabled="buttons.includes((i-1)*3+j)" 
                                        v-for="j in 3" 
                                        @click="add((i-1)*3+j);emit()">{{ (i-1)*3+j }}</button>
                            </div>
                            <button @click="dis=false">close</button>
                        </div>
                    </div>
                    <button v-for="btn in sortedButtons" 
                            :key="btn" 
                            @click="buttons = buttons.filter(item => item !== btn);emit()">{{ btn }}</button>
                </div>`,
            data() {
                return {
                    dis: false, // 控制选择面板的显示/隐藏
                    buttons: [] // 存储已选中的按钮
                }
            },
            computed: {
                sortedButtons() {
                    return this.buttons.sort((a, b) => a - b)
                }
            },
            methods: {
                add(btn) {
                    this.buttons.push(btn)
                },
                emit() {
                    this.$emit('go', this.sortedButtons)
                }
            },
        });

        // 定义上警组件
        app.component('shangjing', {
            emits: ['shangjing'],
            template: `
                <div>
                    <button @click="add">{{ sjStedas }}</button>
                </div>
            `,
            data() {
                return {
                    shangjing: false, // 上警状态
                    sjStedas: "下", // 按钮显示文本
                }
            },
            methods: {
                add() {
                    this.sjStedas = this.shangjing ? "下" : "上"
                    this.shangjing = !this.shangjing
                    this.$emit('shangjing', this.shangjing)
                }
            },
        });

            // 定义玩家组件
        app.component('player', {
            props: ['position'],
            emits: ['playerData'],
            
            template: `
            <tr>
                <td v-for="(i,index) in cell " :key="i">
                    <component v-if="isComponent(i)" :is="i" @shangjing="shangjing" @go="(f) => seleter(f, index)"></component>
                    <template v-else>{{ i }}</template>
                </td>
            </tr>`,

            data() {
                p = new Player(this.position)
                return {
                    p, 
                    cell: [
                        "身份",
                        "selecter",
                        "selecter",
                        "shangjing",
                        p.rank,
                    ],
                    number: false,
                }
            },
            methods: {
                isComponent(name) {
                    return name === "selecter" || name === "shangjing"
                },
                shangjing(f) {
                    this.p.shangjing = f;
                    this.uploadData()
                },
                seleter(f, i) {
                    if (i === 1) {
                        this.p.zhan = f
                    } else if (i === 2) {
                        this.p.cai = f
                    }
                    this.uploadData()
                },
                uploadData() {
                    this.$emit('playerData', this.p)
                }
            },
            mounted() {
                this.uploadData()
            }
        });

        // 挂载 Vue 应用
        app.mount('#app');
    </script>
</body>

</html>